{
  "swagger" : "2.0",
  "info" : {
    "title" : "Customer API",
    "description" : "This is a customer api created using swagger",
    "version" : "1.0.0",
    "contact" : {
      "name" : "Ranjani",
      "url" : "http://",
      "email" : "ranjani.vraman@gmail.com"
    },
    "license" : {
      "name" : "Apache '2.0'"
    }
  },
  "paths" : {
    "/customer" : {
      "get" : {
        "summary" : "Reads a customer data",
        "operationId" : "getCustomer",
        "description" : "Get customer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "query",
          "name" : "customerId",
          "description" : "?customerId=",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "response for customer",
            "schema" : {
              "$ref" : "#/definitions/Customer"
            }
          },
          "404" : {
            "description" : "employee with this id doesnot exist"
          }
        }
      },
      "post" : {
        "summary" : "Posts a customer data",
        "operationId" : "postCustomer",
        "description" : "Add customer",
        "produces" : [ "text/plain" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "cusotmer json",
          "description" : "customer details in json",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Customer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "response for customer",
            "schema" : {
              "type" : "integer"
            }
          },
          "405" : {
            "description" : "Input invaid"
          }
        }
      }
    }
  },
  "definitions" : {
    "Customer" : {
      "type" : "object",
      "properties" : {
        "customerId" : {
          "type" : "integer"
        },
        "accountValue" : {
          "type" : "number"
        },
        "active" : {
          "type" : "boolean"
        },
        "contacts" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : {
              "name" : {
                "type" : "string"
              },
              "email" : {
                "type" : "string"
              }
            }
          }
        }
      }
    }
  },
  "host" : "missguided.admin.com",
  "basePath" : "/customersupport/v1",
  "schemes" : [ "http", "https" ]
}